body{ 
	cursor: url('../cursor.cur'), 
	auto; margin: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: pink;
}
#container{  
	display: block;
	width: 100%;
	height: 100%;
	}
.bunny { 
    background: transparent;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}